h1,
p {
  font-family: Lato;
  padding-left: 22%;
}
ul {
  padding: 0;
  margin: 10px 0 0 0;
}
li {
  list-style-type: none;
}
div {
  list-style-type: none;
  background-color: rgba(61, 175, 150, 0.411);
  border-radius: 10px;
  display: inline-block;
  width: 90%;
}
form {
  margin-left: 2.5%;
  margin-right: auto;
  margin-top: 2%;
}
hr {
  background-color: gray;
  border-style: groove;
  height: 2px;
  width: 95%;
}

div div {
  list-style-type: none;
  padding-left: 10px;
  margin: 10px;
  background-color: rgba(61, 175, 150, 0.411);
  border-radius: 10px;
  display: inline-block;
}

.addButton {
  margin-left: 21%;
  min-width: 10%;
}

.contactAddress {
  border-bottom-style: groove;
  border-bottom-width: 5px;
  padding-left: 1%;
  padding-right: 1%;
  float: left;
  width: fit-content;
}

.contactAddress:hover {
  border-bottom-style: groove;
  border-bottom-width: 3px;
  
  padding-left: 1%;
  padding-right: 1%;
  float: left;
  width: fit-content;
}

.contactAddress:active {
  border-bottom-style: none;
  border-top-style: inset;
  border-top-width: 2px;
  padding-left: 1%;
  padding-right: 1%;
  float: left;
  width: fit-content;
}

.contactName {
  font-size: 20px;
  width: 90%;
}

.contactPhoneNumber {
  border-bottom-style: groove;
  padding-left: 1%;
  padding-right: 1%;
  float: right;
  width: fit-content;
}

.formInput {
  display: inline-block;
  margin-right: 2%;
  width: 29.75%;
}

#top {
  width: 99%;
  height: 4px;
}
